@font-face {
    font-family: 'Noto Sans';
    src: local('Noto Sans Italic'), local('NotoSans-Italic'),
        url('./NotoSans/NotoSans-Italic.woff2') format('woff2'),
        url('./NotoSans/NotoSans-Italic.woff') format('woff');
    font-weight: normal;
    font-style: italic;
}

@font-face {
    font-family: 'Noto Sans';
    src: local('Noto Sans Bold Italic'), local('NotoSans-BoldItalic'),
        url('./NotoSans/NotoSans-BoldItalic.woff2') format('woff2'),
        url('./NotoSans/NotoSans-BoldItalic.woff') format('woff');
    font-weight: bold;
    font-style: italic;
}

@font-face {
    font-family: 'Noto Sans';
    src: local('Noto Sans Bold'), local('NotoSans-Bold'),
        url('./NotoSans/NotoSans-Bold.woff2') format('woff2'),
        url('./NotoSans/NotoSans-Bold.woff') format('woff');
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: 'Noto Sans';
    src: local('Noto Sans'), local('NotoSans'),
        url('./NotoSans/NotoSans.woff2') format('woff2'),
        url('./NotoSans/NotoSans.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
