@font-face {
    font-family: 'Oswald';
    src: local('Oswald SemiBold'), local('Oswald-SemiBold'),
        url('./Oswald/Oswald-SemiBold.woff2') format('woff2'),
        url('./Oswald/Oswald-SemiBold.woff') format('woff');
    font-weight: 600;
    font-style: normal;
}

@font-face {
    font-family: 'Oswald';
    src: local('Oswald Regular'), local('Oswald-Regular'),
        url('./Oswald/Oswald-Regular.woff2') format('woff2'),
        url('./Oswald/Oswald-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Oswald';
    src: local('Oswald Medium'), local('Oswald-Medium'),
        url('./Oswald/Oswald-Medium.woff2') format('woff2'),
        url('./Oswald/Oswald-Medium.woff') format('woff');
    font-weight: 500;
    font-style: normal;
}

@font-face {
    font-family: 'Oswald';
    src: local('Oswald Bold'), local('Oswald-Bold'),
        url('./Oswald/Oswald-Bold.woff2') format('woff2'),
        url('./Oswald/Oswald-Bold.woff') format('woff');
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: 'Oswald';
    src: local('Oswald ExtraLight'), local('Oswald-ExtraLight'),
        url('./Oswald/Oswald-ExtraLight.woff2') format('woff2'),
        url('./Oswald/Oswald-ExtraLight.woff') format('woff');
    font-weight: 200;
    font-style: normal;
}

@font-face {
    font-family: 'Oswald';
    src: local('Oswald Light'), local('Oswald-Light'),
        url('./Oswald/Oswald-Light.woff2') format('woff2'),
        url('./Oswald/Oswald-Light.woff') format('woff');
    font-weight: 300;
    font-style: normal;
}
